[user]
	email = j5lx@fmail.co.uk
	name = Jakob Gahde
	signingkey = BA1BC85D
[credential]
	helper = cache
[url "https://chromium.googlesource.com/a/"]
	insteadOf = https://chromium.googlesource.com/
	insteadOf = https://chromium.googlesource.com/a/
[color]
	ui = true
[merge]
	tool = diffuse
[core]
	editor = joe
	pager = less
[push]
	default = simple
[diff]
	guitool = meld
	tool = icdiff
[difftool]
[diff "tool.icdiff"]
	cmdline = /usr/bin/icdiff --highlight --line-numbers --whole-file
[difftool "icdiff"]
	cmd = icdiff --highlight --line-numbers --whole-file $LOCAL $REMOTE | less -R
[http]
	cookiefile = /home/jakob/.gitcookies
[commit]
	gpgsign = true
[url "git@github.com:"]
	pushInsteadof = gh:
[url "aur@aur.archlinux.org:"]
	pushInsteadof = aur:
[url "dev@j5lx.eu:source/"]
	insteadof = j5:
[url "https://github.com/"]
	insteadof = gh:
[url "git@gitlab.com:"]
	insteadof = gl:
[url "https://aur.archlinux.org/"]
	insteadof = aur:
[url "git@gitlab.informatik.uni-bremen.de:"]
	insteadOf = uhb:
